@{
    ViewData["Title"] = "بدء أوبن جي إل";
}

<div class="text-right">
    <h1>بدء أوبن جي إل</h1>
    <p>قبل البدء في رحلتنا يجب أن نحدد أولاً ما هو أوبن جي إل. يعد أوبن جي إل واجهة لبرمجة التطبيقات (API) توفر لنا مجموعة ضخمة من الدوال التي يمكن استخدامها للتلاعب بالرسوميات والصور. ومع ذلك، فإن أوبن جي إل في حد ذاتها ليست واجهة لبرمجة التطبيقات، ولكنها مجرد تخصص تطوره وتقوم بصيانته <a href="http://www.khronos.org/">مجموعة كرونوس</a>.</p>

    <p>تخصص أوبن جي إل يحدد بالضبط النتيجة أو المخرجات لكل دالة وكيف ينبغي أن تعمل. بعدئذٍ، يعود الأمر للمطورين الذين يقومون بتنفيذ هذه المواصفات للتوصل إلى حل لكيفية عمل هذه الدالة. وبما أن تخصص أوبن جي إل لا يعطينا تفاصيل التنفيذ، النسخ المطورة حقًا من أوبن جي إل  مسموح لها بعمل عدة عمليات تنفيذ، طالما تتوافق نتائجها مع المواصفات (وبالتالي فهي هي نفسها للمستخدم).</p>

    <p>الأشخاص الذين يطورون مكتبات أوبن جي إل الحقيقية هم عادةً مصنعو بطاقات الرسوميات. كل بطاقة رسوميات تشتريها تدعم إصدارات معينة من أوبن جي إل وهي نفس الإصدارات المُطوَّرة خصيصًا لتلك البطاقة (أو السلسة). عندما تستخدم نظام آبل فإن الشركة تقوم على صيانة أوبن جي إل ويوجد عند لينكس مزيج من مُورِّدي الإصدارات واقتباسات الهواة من هذه المكتبات. وهذا يعني أنه عندما تتصرف أوبن جي إل بغرابة، فإنه خطأ مُصنِّعي بطاقات الرسوميات (أو من طور أو قام بصيانة المكتبة).</p>

    <note>بما أن معظم التطبيقات تبنيها الشركات المصنعة لبطاقة الرسوميات. عندما يكون هناك خطأ في التنفيذ، يتم حل هذا عادةً عن طريق تحديث تعريفات بطاقة الرسوميات؛ تتضمن التعريفات هذه أحدث إصدارات أوبن جي إل التي تدعمها بطاقتك. هذا هو أحد الأسباب التي تجعل من المستحسن دائمًا تحديث تعريفات بطاقة الرسوميات من حين لآخر.</note>

    <p>تستضيف كرونوس علانيةً كل مستندات المواصفات لكل إصدارات أوبن جي إل. يستطيع القارئ المهتم أن يجد مواصفات أوبن جي إل لإصدار 3.3 (والذي سنستخدمه) هنا وهو يستحق القراءة إن كنت تود الخوض في تفاصيل أوبن جي إل (لاحظ كيف يصفون في الغالب النتائج وليس طرق التنفيذ). وتوفر المواصفات كذلك مرجعًا كبيرًا لإيجاد الوظيفة<strong> المحددة</strong> للدوال.</p>

    <h2>ملف النواة ضد الوضع الفوري</h2>
    <p>في الماضي، كان استخدام أوبن جي إل يعني التطوير في الوضع الفوري (يُشار إليه غالبًا باسم أنابيب تجزئة الدوال الثابتة) والذي كان طريقة سهلة الاستخدام لرسم الرسومات. أُخفيت معظم وظائف أوبن جي إل في المكتبة ولم يكن للمطورين حرية كبيرة في كيفية إجراء أوبن جي إل لحساباته. أصبح مطورو البرامج في النهاية يشعرون بالجوع لمزيد من المرونة وبمرور الوقت أصبحت المواصفات أكثر مرونة؛ اكتسب المطورون المزيد من السيطرة على رسوماتهم. الوضع الفوري سهل الاستخدام والفهم حقًا، لكنه أيضًا غير فعال إلى أقصى حد. لهذا السبب، بدأت المواصفات في إلغاء وظيفة الوضع الفوري من الإصدار 3.2 وبدأت في تحفيز المطورين على التطوير في وضع ملف النواة في أوبن جي إل وهو قسم من مواصفات أوبن جي إل أُزيلت منه جميع الوظائف القديمة المهملة.</p>

    <p>عند استخدام ملف النواة لأوبن جي إل، تجبرنا أوبن جي إل على استخدام الممارسات الحديثة. فكلما حاولنا استخدام إحدى دوال أوبن جي إل المهملة، يظهر أوبن جي إل خطأ ويتوقف عن الرسم. تتمثل ميزة تعلم النهج الحديث في كونه يتسم بالمرونة والكفاءة، ولكن لسوء الحظ فإن تعلمه أكثر صعوبة. جرَّد الوضع الفوري الكثير من العمليات الفعلية التي ينفذها أوبن جي إل، في حين أن تعلمها سهل، إلا أنه من الصعب فهم كيفية عمل أوبن جي إل بالفعل. حيث يتطلب النهج الحديث أن يفهم المطور حقًا أوبن جي إل وبرمجة الرسومات، وفي حين أنه صعب بعض الشيء، فإنه يتيح مزيدًا من المرونة والكفاءة والأهم من ذلك فهمًا أفضل بكثير لبرمجة الرسومات.</p>

    <p>ولهذا السبب الدورة التي سندرسها موجهة إلى ملف النواة في أوبن جي إل الإصدار 3.3. على الرغم من أن الأمر أكثر صعوبة، إلا أنه يستحق العناء.</p>

    <p>اعتبارًا من اليوم، يتم نشر إصدارات أعلى من أوبن جي إل (في وقت كتابة الدورات هو 4.5) وقد تسأل: لماذا أريد أن أتعلم الإصدار 3.3 في حين وجود الإصدار 4.5؟ الجواب على هذا السؤال بسيط نسبيا. تضيف جميع الإصدارات المستقبلية من أوبن جي إل بدءًا من الإصدار 3.3 ميزات أساسية إضافية إلى أوبن جي إل دون تغيير الآليات الأساسية لأوبن جي إل؛ تقدم الإصدارات الأحدث طرقًا أكثر فاعلية أو أكثر فائدة لإنجاز المهام نفسها. والنتيجة هي أن جميع المفاهيم والتقنيات تظل كما هي خلال إصدارات أوبن جي إل الحديثة، لذا فمن الأفضل تعلم أوبن جي إل 3.3. وكلما كنت جاهزًا أو أكثر خبرة، يمكنك بسهولة استخدام وظائف محددة من إصدارات أوبن جي إل الأحدث.</p>

    <warning>عند استخدام وظيفة من أحدث إصدار من أوبن جي إل، فلن تتمكن من تشغيل تطبيقك سوى أحدث بطاقات الرسوميات. ولذا معظم المطورين غالبًا ما يستهدفون إصدارات أقل من أوبن جي إل ويقومون اختياريًا بتفعيل وظائف أعلى.</warning>

    <p>في بعض الدروس ستجد أحيانًا ميزات أكثر حداثة مكتوبة على هذا النحو.</p>

    <h2>ملحقات</h2>
    <p>إحدى الميزات الرائعة لأوبن جي إل هي دعمها للملحقات. فكلما ابتكرت شركة رسوميات تقنية جديدة أو تحسينًا كبيرًا جديدًا للتصيير (Rendering)، غالبًا ما توجد في ملحق مُنفَّذ في التعريفات. فإذا كان الجهاز الذي يعمل عليه أحد التطبيقات يدعم مثل هذا الملحق، فيمكن للمطور استخدام الوظيفة التي يوفرها الملحق للحصول على رسوميات أكثر تقدمًا أو كفاءة. وبهذه الطريقة، لا يزال بإمكان مطور الرسوميات استخدام تقنيات العرض الجديدة هذه دون الاضطرار إلى الانتظار حتى يقوم أوبن جي إل بتضمين الوظيفة في الإصدارات المستقبلية، وذلك ببساطة عن طريق التحقق مما إذا كان الملحق تدعمه بطاقة الرسوميات. غالبًا، عندما يصبح الملحق شائعًا أو مفيدًا، فإنه يصبح في نهاية المطاف جزءًا من إصدارات أوبن جي إل المستقبلية.</p>

    <p>يجب على المطور بعد ذلك الاستعلام عما إذا كان أيًا من هذه الملحقات متاحًا (أو استخدم مكتبة ملحقات أوبن جي إل). وذلك يتيح للمطور القيام بالأشياء بشكل أفضل أو أكثر كفاءة، بناءً على ما إذا كان الملحق متاحًا:</p>

    <pre dir="ltr">
    <code>
                    if(GL_ARB_extension_name)
                    {
                        // يقوم بأشياء رائعة وحديثة يدعمها الجهاز
                    }
                    else
                    {
                        // الملحق ليس مدعومًا: قم باستخدام الطرق القديمة
                    }
        </code>
    </pre>

    <p>مع الإصدار 3.3 من أوبن جي إل، نادراً ما نحتاج ملحقًا لمعظم التقنيات، ولكن حيثما كان ذلك ضروريًا، يتم توفير الإرشادات المناسبة.</p>

    <h2>آلة الحالات</h2>
    <p>يعد أوبن جي إل في حد ذاته آلة حالات (State Machine) كبيرة: مجموعة من المتغيرات التي تحدد كيفية عمل أوبن جي إل حاليًا. يشار إلى حالة أوبن جي إل عادةً باسم سياق (context) أوبن جي إل. عند استخدام أوبن جي إل، غالبًا ما نقوم بتغيير حالته عن طريق تعيين بعض الخيارات، والتعامل مع بعض المخازن المؤقتة (buffer)، ثم تقديمها باستخدام السياق الحالي.</p>
</div>