@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<div class="text-right">
    <h1 class="display-4">مرحبًا في أوبن جي إل</h1>
    <p>مرحبًا بكم في مدونتي المتواضعة لمحاولة تيسير منصة تدريس متطورة لواجهة برمجة التطبيقات المسماة أوبن جي إل OpenGL. سواء كنت تحاول تعلم أوبن جي إل لأغراض أكاديمية أو لممارسة مهنة أو لممارسة هواية، فهذا الموقع سيعلمك الأساسيات والمستويات المتوسطة والمتقدمة باستخدام أوبن جي إل الحديثة (نواة الملفات). الهدف من هذه المدونة هي عرض كل ما في أوبن جي إل بسلاسة مع وجود أمثلة واضحة، مع توفير مراجع مفيدة لدراسات لاحقة.</p>

    <h2>ما الغرض من هذه الدورات؟</h2>
    <p>في جميع أنحاء الإنترنت، هناك الآلاف من المستندات والموارد المتعلقة بتعلم أوبن جي إل، مع ذلك، تركز معظم هذه الموارد فقط على الوضع الفوري لأوبن جي إل (والتي يُشار إليها باسم أوبن جي إل القديمة) أو غير مكتملة أو ينقصها التوثيق الملائم أو لاتتناسب مع تفضيلات تعلمك. لذلك، هدفي هو توفير منصة كاملة وسهلة الفهم.</p>

    <p>إذا كنت تستمتع بقراءة الدورات التي توفر إرشادات خطوة بخطوة وأمثلة واضحة ولن تلقي بك في غياهب التفاصيل، إذًا فهذه الدورات مناسبة لك تمامًا. تهدف هذه الدورات إلى أن تكون مفهومة للأشخاص قليلي الخبرة في برمجة الرسومات، في حين أنها تظل مثيرة للاهتمام للمستخدمين الأكثر خبرة. تناقش الدورات أيضًا المفاهيم العملية التي – مع بعض الإبداع الإضافي – يمكن أن تحول أفكارك إلى تطبيقات ثلاثية الأبعاد حقيقية. إذا كان كل هذا الكلام يبدو أنه يتحدث عنك بكل ما تحمله الكلمة من معنى، فيرجى المتابعة.</p>

    <h2>ماذا سنتعلم؟</h2>

    <p>تركيز هذه الدورات على أوبن جي إل الحديثة. تعلم (واستخدام) أوبن جي إل الحديثة يتطلب معرفة قوية ببرمجة الرسومات وكيف يعمل أوبن جي إل في الخفاء للحصول على أفضل تجربة. لذلك سنبدأ بمناقشة جوانب الرسومات الأساسية وكيف يرسم أوبن جي إل يرسم النقاط (البكسل) على شاشتك وكيف يمكننا استغلال هذه المعرفة لصناعة بعض المؤثرات المرحة.</p>

    <p>بالإضافة إلى المعرفة الأساسية، سنناقش العديد من التقنيات المفيدة التي يمكنك استخدامها للتطبيقات الخاصة بك مثل: إظهار مشهد وإنشاء إضاءة جميلة وتحميل كائنات مخصصة الصنع من برنامج النمذجة والقيام بتقنيات ما بعد المعالجة الرائعة والمزيد. وسنتجول أيضًا في دورة يمكننا بها صنع لعبة صغيرة بناءً على معرفتنا المكتبسة من أوبن جي إل لذلك ستشعر حقًا بإحساس برمجة الرسومات.</p>

    <h2>شكر خاص للكاتب</h2>
    
    <p>هذه الدورات مترجمة من موقع "<a href="https://href.li/?https://learnopengl.com">تعلم أوبن جي إل</a>" المجاني، لذا نود أن نشكره شكرًا جزيلاً على المجهود الذي قدمه في هذه الدورات.</p>
</div>
