@{
    ViewData["Title"] = "المقدمة";
}

<div class="text-right">
    <h1>المقدمة</h1>
    <p>نظرًا لأنك جئت إلى هنا، فمن المحتمل أنك تريد أن تتعلم الأعمال الداخلية لرسومات الكمبيوتر وأن تقوم بكل هذه الأشياء بنفسك. إن القيام بالأشياء بنفسك أمر ممتع للغاية وواسع الحيلة ويمنحك فهمًا رائعًا لبرمجة الرسومات. ومع ذلك ، هناك بعض العناصر التي يجب مراعاتها قبل بدء رحلتك.</p>

    <h2>المتطلبات الأساسية</h2>
    <p>ولأن أوبن جي إل واجهة برمجة رسومية وليست منصة بحد ذاتها، لذا فهي تتطلب لغة لتشغلها واللغة المختارة هي سي++، لذلك مطلوب معرفة لائقة بلغة البرمجة سي++ لهذه الدورات. ومع ذلك، سأحاول شرح معظم المفاهيم المستخدمة، بما في ذلك موضوعات سي++ المتقدمة عند الاقتضاء، لذلك ليس مطلوبًا أن تكون خبيرًا في سي++، ولكن يجب أن تكون قادرًا على الكتابة أكثر من مجرد برنامج بسيط. إذا لم يكن لديك خبرة كبيرة في استخدام سي++، يمكنني أن أوصي بالدورات المجانية التالية على موقع "<a href="http://www.learncpp.com/">تعلم سي++</a>".</p>

    <p>أيضًا، سوف نستخدم بعض الرياضيات (الجبر الخطي والهندسة وعلم المثلثات) على طول الطريق وسأحاول شرح جميع المفاهيم المطلوبة للرياضيات المطلوبة. ومع ذلك، أنا لست عالم رياضيات عن ظهر قلب، وعلى الرغم من أن توضيحاتي قد تكون سهلة الفهم، فمن المحتمل أن تكون غير كاملة. لذا ، عند الضرورة، سأوفر موارد جيدة تشرح المادة بطريقة أكثر اكتمالا. لا تخف من المعرفة الرياضية المطلوبة قبل بدء رحلتك إلى أوبن جي إل؛ يمكن فهم جميع المفاهيم تقريبًا بخلفية رياضية أساسية وسأحاول إبقاء الرياضيات عند الحد الأدنى قدر الإمكان. معظم الوظائف لا تتطلب منك أن تفهم جميع الرياضيات طالما أنك تعرف كيفية استخدامها.</p>

    <h2>هيكل الموقع</h2>
    <p>المدونة تنقسم إلى عدة موضوعات عامة. يحتوي كل موضوع على عدة أقسام تشرح كل منها مفاهيم مختلفة بتفصيل كبير. يمكن العثور على كل موضوع في القائمة على يمينك. يتم تدريس المواد بطريقة خطية (لذلك يُنصح بالبدء من الأعلى إلى الأسفل، ما لم يتم التوجيه بخلاف ذلك) حيث تشرح كل صفحة نظرية الخلفية والجوانب العملية.</p>

    <p>لتسهيل متابعة الدورات ومنحهم بعض البنية المضافة، يحتوي الموقع على مربعات وكتل تعليمات برمجية وتلميحات ألوان ومراجع دالة.</p>

    <h3>الصناديق</h3>

    <note>
        الصناديق <strong>الخضراء</strong> تشمل بعض الملاحظات أو الميزات أو التلميحات عن أوبن جي إل عن الموضوع في متناول اليد.
    </note>

    <warning>
        الصناديق <strong>الحمراء</strong> تحتوي تحذيرات أو ميزات أخرى لا بد من الحذر بشأنها.
    </warning>

    <h3>النصوص البرمجية (الكود)</h3>
    <p>ستجد النصوص البرمجية أو الأكواد بهذا الشكل في الموقع (من اليسار إلى اليمين):</p>

    <pre>
        <code>
            // هذا الصندوق يتضمن نصوصًا برمجية
        </code>
    </pre>

    <p>نظرًا لأن هذه الصناديق لا توفر سوى مقتطفات من الكود، فحينما يكون الأمر ضروريًا، سأوفر رابطًا لنص المصدر كاملاً المطلوب لموضوع معين.</p>

    <p>الآن بعد أن شعرت بقدر من الإحساس بهيكل الموقع، انتقل إلى قسم "البدء" لبدء رحلتك في أوبن جي إل!</p>
</div>